*{
    
}

#add-task-btn{
    background:white;
    border-radius:50%;
    padding:0;
    position: fixed;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
    border: none;
    cursor: pointer;
}
#add-task-icon{
    height:4em;
}